body {
    margin: 1em 2em 2em 2em;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.login {
    float: right;
    margin: 25px 200px 15px 0;
}

.head {
    text-align: center;
    margin: 15px 0 15px 260px
}

.authCheck {
    color: red;
    margin: 20px 0 0 0
}

.button {
    margin: 0 0 3em 0;
}

.notFound {
    text-align: center;
}
